#bloc-page
{
	width: 1024px;
	margin: auto;
}
#logo
{
  width: 612px;
  height: 250px;
  background-image: url("Fit&Goals.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 auto;
}

nav
{
	text-align: center;

}

nav a{
	border: 1px solid  #ffb3b3;
	text-decoration: none;
	color: black;
	position: relative;
	top: 30px;
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  background-color: #cc0000;
}

nav a:hover{
	color: cyan;
}
